@import "base"

.entrance
    &__content
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 122px
        grid-row-gap: 87px
        @media screen and (max-width: $desktopS)
            grid-column-gap: 99px
            grid-row-gap: 60px
        @media screen and (max-width: $tabletM)
            grid-column-gap: 10px
        @media screen and (max-width: $tabletM)
            grid-column-gap: 30px

    &-item
        padding-right: 30px
        padding-bottom: 20px
        @media screen and (max-width: $desktopS)
            padding-bottom: 0
        @media screen and (max-width: $tabletM)
            padding: 0
            min-width: 452px
        @media screen and (max-width: $tabletS)
            min-width: 308px

        &:nth-child(2n-1)
            border-right: 2px solid $blue
            @media screen and (max-width: $desktopS)
                padding-right: 70px
            @media screen and (max-width: $tabletM)
                padding: 0
                border: none


        &__number
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 40px
            width: 70px
            height: 70px
            font-weight: 500
            font-size: 48px
            line-height: 120%
            color: $white
            background-color: $blue
            border-radius: 50%
            @media screen and (max-width: $desktopS)
                margin-bottom: 30px

        h3
            margin-bottom: 30px
            @media screen and (max-width: $desktopS)
                margin-bottom: 10px

        &--disabled
            border-right: none !important

            h3
                text-decoration: line-through

        &__text
            font-size: 32px
            line-height: 130%
            @media screen and (max-width: $desktopS)
                font-size: 26px

    &__card
        align-self: center
        margin-left: -122px
        max-height: 240px
        padding: 65px 100px
        background: $white
        box-shadow: $shadow-main
        border-radius: 20px
        @media screen and (max-width: $desktopS)
            margin-left: -99px
            padding: 30px 70px
            max-height: 150px
            h3
                font-size: 36px
        @media screen and (max-width: $tabletM)
            margin-left: 0
            padding: 38px 44px
            max-height: 220px
        @media screen and (max-width: $tabletS)
            padding: 23px 28px
            max-height: 100px
            h3
                font-size: 22px