@import "base"

.footer
    padding: 100px 0
    background-color: $blue
    color: $white

    .container
        display: flex
        justify-content: space-between

    &__left
        display: flex
        flex-direction: column
        justify-content: space-between
        @media screen and (max-width: $tabletS)
            margin-right: 37px

        img
            width: 313px
            height: auto
            @media screen and (max-width: $desktopS)
                width: 248px
            @media screen and (max-width: $tabletM)
                width: 102px
            @media screen and (max-width: $tabletS)
                width: 90px

    &__copyright
        @media screen and (max-width: $desktopS)
            font-size: 18px
        @media screen and (max-width: $tabletM)
            max-width: 102px
            font-size: 14px

    &__right
        display: flex
        font-size: 32px
        line-height: 130%
        @media screen and (max-width: $desktopS)
            font-size: 24px

        h3
            color: $white
            @media screen and (max-width: $desktopS)
                font-size: 30px
            @media screen and (max-width: $tabletS)
                font-size: 24px
                margin-bottom: 30px

    &__location
        margin-right: 98px
        @media screen and (max-width: $tabletS)
            margin-right: 70px
            margin-bottom: -20px
            font-size: 18px

        .location
            &-address
                margin-bottom: 40px
                @media screen and (max-width: $tabletS)
                    margin-bottom: 20px

                &__title
                    text-decoration: underline

    &__contacts
        @media screen and (max-width: $tabletS)
            margin-bottom: -20px

        ul
            list-style: none
            display: flex
            flex-direction: column
            gap: 20px
            padding-left: 0

            li
                a
                    font-size: 32px
                    @media screen and (max-width: $desktopS)
                        font-size: 24px
                    @media screen and (max-width: $tabletS)
                        font-size: 18px

        .contacts__inst
            a
                display: flex
                align-items: center

                svg
                    margin-right: 10px