@import "base"

.graduates
    &__content
        position: relative
        padding: 102px 0

        @media screen and (max-width: $desktopS)
            padding: 90px 0
        @media screen and (max-width: $tabletM)
            padding: 0

    &__review-slider
        z-index: 15
        max-width: 55%
        @media screen and (max-width: $desktopS)
            max-width: 60%
        @media screen and (max-width: $tabletM)
            max-width: 100%

        .review
            &__card
                display: flex
                padding: 55px 122px
                background: $white
                box-shadow: $shadow
                border-radius: 20px
                @media screen and (max-width: $desktopS)
                    padding: 66px 99px
                @media screen and (max-width: $tabletM)
                    padding: 50px
                @media screen and (max-width: $tabletS)
                    padding: 40px
                @media screen and (max-width: $mobileL)
                    padding: 40px 30px
                @media screen and (max-width: $mobileM)
                    padding: 30px

                &--left
                    display: none
                    @media screen and (max-width: $tabletM)
                        display: block
                        margin-right: 40px
                        width: 143px
                        min-width: 143px
                        height: 143px
                        border-radius: 50%
                        overflow: hidden
                    @media screen and (max-width: $tabletS)
                        width: 100px
                        min-width: 100px
                        height: 100px
                    @media screen and (max-width: $mobileM)
                        margin-right: 30px
                        width: 50px
                        min-width: 50px
                        height: 50px

                    img
                        width: 100%
                        height: auto

                h4
                    color: $blue
                    @media screen and (max-width: $mobileM)
                        font-size: 20px

            &__text
                margin-bottom: 50px
                @media screen and (max-width: $desktopS)
                    margin-bottom: 20px
                    font-size: 18px
                @media screen and (max-width: $tabletS)
                    font-size: 14px

            &__info
                display: flex
                flex-wrap: wrap
                gap: 20px
                font-size: 18px
                line-height: 20px
                @media screen and (max-width: $desktopS)
                    max-width: 185px
                    gap: 10px
                    font-size: 16px
                @media screen and (max-width: $tabletS)
                    font-size: 12px

        .arrow
            z-index: 30
            position: absolute
            bottom: 55px
            width: 50px
            height: 50px
            background-size: cover
            transition: 0.3s ease-in-out

            &-prev
                right: 192px
                background-image: url("../img/prev-arrow-active.png")

                &.slick-disabled
                    background-image: url("../img/prev-arrow.png")

            &-next
                right: 122px
                background-image: url("../img/next-arrow-active.png")

                &.slick-disabled
                    background-image: url("../img/next-arrow.png")

        .slick-dots
            bottom: -60px
            @media screen and (max-width: $mobileL)
                bottom: -40px

    &__photos-slider
        z-index: 10
        position: absolute
        top: 0
        right: 0
        max-width: 50%
        @media screen and (max-width: $tabletM)
            display: none

        & .slick-track
            display: flex
            align-items: center
            gap: 30px

    &__photos--slide
        & .photos__image
            display: grid
            align-content: center
            width: 404px
            height: 546px
            overflow: hidden
            border-radius: 20px
            transition: 0.3s ease-in-out
            @media screen and (max-width: $desktopS)
                width: 330px
                height: 446px

            img
                width: 100%
                height: auto

        &.slick-current
            & .photos__image
                width: 460px
                height: 641px
                @media screen and (max-width: $desktopS)
                    width: 446px
                    height: 580px
