@import "base"

.header
    padding: 34px 0
    background-color: $blue
    font-size: 22px
    line-height: 27px

    .container
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        img
            width: 214px
            height: auto

    &__menu
        & ul
            display: flex
            justify-content: space-between
            width: 551px
            list-style: none

    &__communication
        & a
            display: inline-block
            margin-right: 30px

        .btn
            padding: 24px 27px
            font-size: 22px
            line-height: 27px