@import "base"

.header
    padding: 34px 0
    background-color: $blue
    font-size: 22px
    line-height: 130%

    .container
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        img
            width: 214px
            height: auto

            @media screen and (max-width: $desktopS)
                width: 201px

    &__menu
        & ul
            display: flex
            justify-content: space-between
            width: 551px
            list-style: none
            @media screen and (max-width: $desktopS)
                width: 413px
                li a
                    font-size: 18px


    &__communication
        & a
            display: inline-block
            margin-right: 30px

        .btn
            padding: 24px 27px
            @media screen and (max-width: $desktopS)
                padding: 15px 22px