@import "base"

.price
    &-slider
        & .slick-list
            overflow: visible !important

        & .arrow
            position: absolute
            top: 40%
            width: 70px
            height: 140px
            background-size: cover
            @media screen and (max-width: $desktopS)
                width: 40px
                height: 80px
                &-prev
                    right: -90px
                &-next
                    left: -90px

            &-prev
                right: -170px
                background-image: url("../img/next-arrow-big.png")

            &-next
                left: -170px
                background-image: url("../img/prev-arrow-big.png")

    &__content
        @media screen and (max-width: $tabletM)
            display: grid
            grid-template-columns: 1fr 1fr
            grid-row-gap: 40px

    &__card
        position: relative
        padding: 50px 53px
        max-width: 460px
        background: $white
        box-shadow: $shadow-main
        border-radius: 20px
        text-align: center
        color: $blue
        transition: 0.3s ease-in-out
        @media screen and (max-width: $desktopS)
            padding: 60px 26px 30px
            max-width: 347px
        @media screen and (max-width: $tabletM)
            margin: 0
            padding: 60px 40px 40px
            max-width: 407px
        @media screen and (max-width: $tabletS)
            padding: 40px 30px 30px
            max-width: 310px

        &:hover
            .btn
                background-color: $yellow
                color: $blue

                &:hover
                    background-color: $white

        .card
            &__info
                margin-bottom: 150px
                @media screen and (max-width: $desktopS)
                    margin-bottom: 104px
                @media screen and (max-width: $tabletM)
                    margin-bottom: 150px

                &-item
                    margin-bottom: 40px

                &-title
                    margin-bottom: 10px

                &-text
                    font-size: 32px
                    line-height: 130%
                    @media screen and (max-width: $desktopS)
                        font-size: 26px
                    @media screen and (max-width: $tabletS)
                        font-size: 22px

            &__special
                position: absolute
                top: 500px
                left: 15%
                padding: 30px
                text-align: left
                transition: all 0.5s ease-in-out
                z-index: 500
                @media screen and (max-width: $desktopS)
                    top: 448px
                @media screen and (max-width: $tabletM)
                    top: 468px
                    display: inline-block
                    padding: 22px 44px
                    border: 2px solid $blue
                    border-radius: 20px
                @media screen and (max-width: $tabletS)
                    top: 436px
                    left: 10%

                h4
                    margin-bottom: 20px
                    text-decoration: underline
                    @media screen and (max-width: $tabletM)
                        text-decoration: none
                        margin-bottom: 0

                .special__list
                    margin: 0
                    width: 0
                    height: 0
                    overflow: hidden
                    transition: all 0.5s ease-in-out


                &:hover
                    background-color: $white
                    border-radius: 20px
                    box-shadow: $shadow-main
                    z-index: 600

                    h4
                        text-decoration: none
                        cursor: pointer
                        @media screen and (max-width: $tabletM)
                            margin-bottom: 20px

                    .special__list
                        height: auto
                        width: 400px
                        @media screen and (max-width: $desktopS)
                            width: 360px
                        @media screen and (max-width: $tabletM)
                            width: 300px


            &__bottom
                padding: 40px 0
                border-top: 1px solid rgba(0, 0, 0, 0.3)

                &-title
                    margin-bottom: 20px

                &-price-old
                    margin-bottom: 10px
                    text-decoration: line-through

                &-price
                    font-size: 64px
                    line-height: 120%
                    @media screen and (max-width: $tabletS)
                        font-size: 48px

        .btn
            padding: 17px 50px
            font-size: 32px
            line-height: 130%
            @media screen and (max-width: $desktopS)
                font-size: 26px
            @media screen and (max-width: $tabletS)
                padding: 24px 48px
                font-size: 24px