@charset "UTF-8";

/* Экраны */

/* Цвета */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;

500;600;700;800;900&display=swap");
body {
  font-family: "Jost", sans-serif;
  margin: 0;
  font-size: 22px;
  line-height: 130%;
}

.main {
  overflow: hidden;
}

.container {
  width: 1480px;
  margin: 0 auto;
}

.container-slider {
  width: 90% !important;
  margin: 0 0 0 220px;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding: 100px 0 120px;
}

.yellow-sec {
  background-color: #ecd664;
}

.yellow-sec h2 {
  color: white;
}

.blue-sec {
  background-color: #396abe;
}

.blue-sec h2 {
  text-align: center;
  color: white;
}

.white-sec h2 {
  color: #396abe;
}

h1,
h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  margin-bottom: 80px;
  max-width: 930px;
  font-size: 72px;
  line-height: 110%;
  color: white;
}

h2 {
  margin-bottom: 50px;
  font-size: 64px;
  line-height: 120%;
}

h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  line-height: 130%;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin-bottom: 50px;
  font-size: 48px;
  color: #396abe;
}

h4 {
  margin-bottom: 50px;
  font-size: 32px;
}

p {
  margin: 0;
}

a {
  font-size: 22px;
  line-height: 130%;
  font-family: "Jost", sans-serif;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button,
.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  line-height: 130%;
  font-family: "Jost", sans-serif;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

button:hover,
.btn:hover {
  cursor: pointer;
  color: #396abe;
  background-color: white;
  border: 1px solid #396abe;
}

.blue-btn {
  color: white;
  background-color: #396abe;
}

.yellow-btn {
  color: #396abe;
  background-color: #ecd664;
}

.slick-dots li > button {
  background-color: #396abe;
  opacity: 0.5;
}

.slick-dots li > button:before {
  content: "";
}

.slick-dots li.slick-active > button {
  opacity: 1;
}

.logo {
  display: block;
}

.logo-short {
  display: none;
}

.entrance__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 122px;
  grid-row-gap: 87px;
}

.entrance-item {
  padding-right: 30px;
  padding-bottom: 20px;
}

.entrance-item:nth-child(2n-1) {
  border-right: 2px solid #396abe;
}

.entrance-item:nth-child(5) {
  border-right: none;
}

.entrance-item__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: white;
  background-color: #396abe;
  border-radius: 50%;
}

.entrance-item h3 {
  margin-bottom: 30px;
}

.entrance-item--disabled {
  border-right: none !important;
}

.entrance-item--disabled h3 {
  text-decoration: line-through;
}

.entrance-item__text {
  font-size: 32px;
  line-height: 130%;
}

.entrance__card {
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: -122px;
  max-height: 240px;
  padding: 65px 100px;
  background: white;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1140px;
  }

  .container-slider {
    margin-left: 150px;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    margin-bottom: 40px;
    font-size: 40px;
  }

  h4 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .entrance__content {
    grid-column-gap: 99px;
    grid-row-gap: 60px;
  }

  .entrance-item {
    padding-bottom: 0;
  }

  .entrance-item:nth-child(2n-1) {
    padding-right: 70px;
  }

  .entrance-item__number {
    margin-bottom: 30px;
  }

  .entrance-item h3 {
    margin-bottom: 10px;
  }

  .entrance-item__text {
    font-size: 26px;
  }

  .entrance__card {
    margin-left: -99px;
    padding: 30px 70px;
    max-height: 150px;
  }

  .entrance__card h3 {
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85vw;
  }

  section {
    padding: 80px 0 100px;
  }

  .logo {
    display: none;
  }

  .logo-short {
    display: block;
  }

  .entrance__content {
    grid-column-gap: 10px;
  }

  .entrance__content {
    grid-column-gap: 30px;
  }

  .entrance-item {
    padding: 0;
    min-width: 452px;
  }

  .entrance-item:nth-child(2n-1) {
    padding: 0;
    border: none;
  }

  .entrance__card {
    margin-left: 0;
    padding: 38px 44px;
    max-height: 220px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0 80px;
  }

  h1 {
    margin-bottom: 50px;
    font-size: 52px;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  .entrance-item {
    min-width: 308px;
  }

  .entrance__card {
    padding: 23px 28px;
    max-height: 100px;
  }

  .entrance__card h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 568px) {
  section {
    padding: 50px 0 60px;
  }

  h1 {
    margin-bottom: 40px;
    font-size: 48px;
  }

  .entrance__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }

  .entrance-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .entrance__card {
    padding: 34px 55px;
    max-height: 150px;
  }

  .entrance__card h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 425px) {
  section {
    padding: 30px 0 40px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .entrance__content {
    gap: 40px;
  }

  .entrance-item__number {
    margin-bottom: 20px;
  }

  .entrance-item__text {
    font-size: 22px;
  }

  .entrance__card {
    padding: 40px 5px;
  }

  .entrance__card h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    margin-bottom: 25px;
    font-size: 28px;
  }

  .entrance__card h3 {
    font-size: 24px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
