@charset "UTF-8";

/* Экраны */

/* Цвета */

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;

500;600;700;800;900&display=swap");
body {
  font-family: "Jost", sans-serif;
  margin: 0;
  font-size: 22px;
  line-height: 130%;
}

.main {
  overflow: hidden;
}

.container {
  width: 1480px;
  margin: 0 auto;
}

.container-slider {
  width: 90% !important;
  margin: 0 0 0 220px;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  padding: 100px 0 120px;
}

.yellow-sec {
  background-color: #ecd664;
}

.yellow-sec h2 {
  color: white;
}

.blue-sec {
  background-color: #396abe;
}

.blue-sec h2 {
  text-align: center;
  color: white;
}

.white-sec h2 {
  color: #396abe;
}

h1,
h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  margin-bottom: 80px;
  max-width: 930px;
  font-size: 72px;
  line-height: 110%;
  color: white;
}

h2 {
  margin-bottom: 50px;
  font-size: 64px;
  line-height: 120%;
}

h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  line-height: 130%;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin-bottom: 50px;
  font-size: 48px;
  color: #396abe;
}

h4 {
  margin-bottom: 50px;
  font-size: 32px;
}

p {
  margin: 0;
}

a {
  font-size: 22px;
  line-height: 130%;
  font-family: "Jost", sans-serif;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button,
.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  line-height: 130%;
  font-family: "Jost", sans-serif;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

button:hover,
.btn:hover {
  cursor: pointer;
  color: #396abe;
  background-color: white;
  border: 1px solid #396abe;
}

.blue-btn {
  color: white;
  background-color: #396abe;
}

.yellow-btn {
  color: #396abe;
  background-color: #ecd664;
}

.slick-dots li > button {
  background-color: #396abe;
  opacity: 0.5;
}

.slick-dots li > button:before {
  content: "";
}

.slick-dots li.slick-active > button {
  opacity: 1;
}

.logo {
  display: block;
}

.logo-short {
  display: none;
}

.header {
  padding: 34px 0;
  background-color: #396abe;
  font-size: 22px;
  line-height: 130%;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 214px;
  height: auto;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 551px;
  list-style: none;
}

.header__menu .menu__phone {
  display: none;
}

.header__menu.sidenav {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0;
  display: block;
  padding: 0;
  height: 100%;
  width: 0;
  background-color: #396abe;
  overflow-x: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__menu.sidenav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0;
  margin: 160px 0 130px;
  width: 100%;
}

.header__menu.sidenav ul > li {
  display: inline-block;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid white;
}

.header__menu.sidenav ul > li a {
  font-size: 28px;
  white-space: nowrap;
}

.header__menu.sidenav .menu__phone {
  margin: 0;
  font-size: 28px;
  text-decoration: underline;
  white-space: nowrap;
}

.header__menu.sidenav.width {
  width: 400px;
  padding: 0 36px 0 25px;
}

.header__communication a {
  display: inline-block;
  margin-right: 30px;
}

.header__communication .btn {
  padding: 24px 27px;
}

.header__burger-menu {
  display: none;
}

.header__burger-menu .bar {
  margin: 8px 0;
  width: 60px;
  height: 0;
  background-color: white;
  border: 3px solid white;
  border-radius: 20px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__burger-menu .bar:first-child {
  width: 45px;
}

.header__burger-menu.change {
  display: grid;
  place-items: center;
  z-index: 1000;
}

.header__burger-menu.change .bar {
  width: 60px;
}

.header__burger-menu.change .bar:first-child {
  grid-row: 1/2;
  grid-column: 1/2;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger-menu.change .bar:nth-child(2) {
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0;
}

.header__burger-menu.change .bar:nth-child(3) {
  grid-row: 1/2;
  grid-column: 1/2;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1140px;
  }

  .container-slider {
    margin-left: 150px;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    margin-bottom: 40px;
    font-size: 40px;
  }

  h4 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .header__logo img {
    width: 201px;
  }

  .header__menu ul {
    width: 413px;
  }

  .header__menu ul li a {
    font-size: 18px;
  }

  .header__communication .btn {
    padding: 15px 22px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85vw;
  }

  section {
    padding: 80px 0 100px;
  }

  .logo {
    display: none;
  }

  .logo-short {
    display: block;
  }

  .header__logo img {
    width: 97px;
  }

  .header__menu {
    display: none;
  }

  .header__menu .menu__phone {
    display: inline-block;
  }

  .header__communication a {
    display: none;
  }

  .header__communication .btn {
    padding: 24px 32px;
  }

  .header__burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0 80px;
  }

  h1 {
    margin-bottom: 50px;
    font-size: 52px;
  }

  h2 {
    margin-bottom: 40px;
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  .header__communication .btn {
    padding: 24px 18px;
  }
}

@media screen and (max-width: 568px) {
  section {
    padding: 50px 0 60px;
  }

  h1 {
    margin-bottom: 40px;
    font-size: 48px;
  }

  .header__menu.sidenav.width {
    width: 265px;
  }

  .header__communication .btn {
    font-size: 14px;
    padding: 15px 28px;
  }

  .header__burger-menu .bar {
    border-width: 2px;
  }
}

@media screen and (max-width: 425px) {
  section {
    padding: 30px 0 40px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .header__logo img {
    width: 71px;
  }

  .header__burger-menu .bar {
    width: 50px;
  }

  .header__burger-menu .bar:first-child {
    width: 37.5px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    margin-bottom: 25px;
    font-size: 28px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
